@tailwind base;
@tailwind components;
@tailwind utilities;

[type="range"] {
    appearance: none;
    display: block;
    background-color: #555;
    border-radius: 300px;
    height: 5px;
    overflow: hidden;
    cursor: pointer;
}

[type="range"]::-webkit-slider-thumb {
    appearance: none;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #f55;
    box-shadow: -400px 0 0 400px #f55;
}

[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #f55;
    outline: none;
    box-shadow: -400px 0 0 400px #f55;
}